.formPage {
    text-align: center;
    padding-bottom: 5rem;
    padding-left: 15%;
    padding-right: 15%;

    .inputsContainer {
        background-color: aliceblue;
        padding: 2rem;
        flex-wrap: wrap;
        margin: 5rem 2rem 5rem 2rem;

        .inputField {
            margin: 1.5rem;
            display: flex;
            justify-content: space-between;

            .label {
                font-size: 0.82rem;
                color: #5a6169;
                align-self: center;
                text-align: left;
            }

            .textbox {
                border: 1px solid #e1e5eb;
                border-radius: 4px;
                height: 2rem;
                background-color: #fff;
            }

            .mob {
                width: 11rem;
            }
        }
    }

    .required {
        color: #e55858;
        font-size: 0.75rem;
    }

    .invalid-feedback {
        color: #e55858;
        font-size: 0.75rem;
        text-align: right;
        margin: -1rem 1.5rem 0rem 0rem;
    }

    .btn {
        width: 5rem;
        min-height: 2rem;
        border-radius: 3px;
        padding: 6px 20px;
        border: none;
        background: #16478e;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
    }
}

.mat-accordion {
    width: 100%;
}

.mat-expansion-panel {
    box-shadow: none;
    background: none;
    color: #5a6169;
}

.mat-expansion-panel-header {
    padding: 0px 10px 0px 0px;
}

.mat-expansion-panel-header-title {
    font-size: 0.82rem;
    color: #5a6169;
    align-self: center;
}
