<form [formGroup]="form" class="formPage">

    <div class="inputsContainer">
        <div class="inputField">
            <label class="label" for="clubName">Rotary Club of<span class="required"> *</span></label>
            <input type="text" formControlName="clubName" class="textbox" autocomplete="no" />
        </div>
        <div *ngIf="submitted && f.clubName.errors" class="invalid-feedback">
            <div *ngIf="f.clubName.errors.required">Club Name is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="mobileNo">Mobie Number<span class="required"> *</span></label>
            <input name="phone" id="phone" type="tel" formControlName="mobileNo" maxlength="10" class="textbox mob" autocomplete="no"
                placeholder="XXXXXXXXXX" />
        </div>
        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
            <div *ngIf="f.mobileNo.errors.required">Mobie Number is required</div>
            <div *ngIf="f.mobileNo.errors.pattern">Incorrect mobile number</div>
        </div>

        <div class="inputField">
            <label class="label" for="email">Email<span class="required"> *</span></label>
            <input type="text" formControlName="email" class="textbox" autocomplete="no" />
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email ID is required</div>
            <div *ngIf="f.email.errors.pattern">Invalid Email ID</div>
        </div>

        <div class="inputField">
            <label class="label" for="dateOfMeet">DATE of the Meeting/ Event<span class="required"> *</span></label>
            <input type="date" formControlName="dateOfMeet" class="textbox mob" autocomplete="no"
                max="{{todaysdate|date:'yyyy-MM-dd'}}" />
        </div>
        <div *ngIf="submitted && f.dateOfMeet.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfMeet.errors.required">Date is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="memberCount">NUMBER of MEMBERS Attended Meeting/ Event<span class="required"> *</span></label>
            <input type="number" formControlName="memberCount" class="textbox" autocomplete="no" min="1" />
        </div>
        <div *ngIf="submitted && f.memberCount.errors" class="invalid-feedback">
            <div *ngIf="f.memberCount.errors.required">Member Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="fourWCount">NUMBER of 4-WHEELERS commuted<span class="required"> *</span></label>
            <input type="number" formControlName="fourWCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.fourWCount.errors" class="invalid-feedback">
            <div *ngIf="f.fourWCount.errors.required">Four Wheelers' Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="twoWCount">NUMBER of 2-WHEELERS commuted<span class="required"> *</span></label>
            <input type="number" formControlName="twoWCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.twoWCount.errors" class="invalid-feedback">
            <div *ngIf="f.twoWCount.errors.required">Two Wheelers' Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="duration">DURATION of the Meeting/ Event<span class="required"> *</span></label>
            <input type="number" formControlName="duration" placeholder=" in minutes" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
            <div *ngIf="f.duration.errors.required">Duration is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="lightsCount">NUMBER of LIGHTS at the Meeting/ Event<span class="required"> *</span></label>
            <input type="number" formControlName="lightsCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.lightsCount.errors" class="invalid-feedback">
            <div *ngIf="f.lightsCount.errors.required">Number of Lights Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="fansCount">NUMBER of FANS at the Meeting/ Event<span class="required"> *</span></label>
            <input type="number" formControlName="fansCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.fansCount.errors" class="invalid-feedback">
            <div *ngIf="f.fansCount.errors.required">Number of Fans Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="audioCount">NUMBER of PUBLIC AUDIO SYSTEM used<span class="required"> *</span></label>
            <input type="number" formControlName="audioCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.audioCount.errors" class="invalid-feedback">
            <div *ngIf="f.audioCount.errors.required">Audio Systems Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="micCount">MICS used<span class="required"> *</span></label>
            <input type="number" formControlName="micCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.micCount.errors" class="invalid-feedback">
            <div *ngIf="f.micCount.errors.required">Mics Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="projectorCount">NUMBER of OVER HEAD PROJECTORS used<span class="required"> *</span></label>
            <input type="number" formControlName="projectorCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.projectorCount.errors" class="invalid-feedback">
            <div *ngIf="f.projectorCount.errors.required">Projectors Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="acCount">NUMBER of AIR-CONDITIONERS used<span class="required"> *</span></label>
            <input type="number" formControlName="acCount" class="textbox" autocomplete="no" min="0" />
            
        </div>
        <div *ngIf="submitted && f.acCount.errors" class="invalid-feedback">
            <div *ngIf="f.acCount.errors.required">AC Systems Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="beverageCount">NUMBER of TEA / COFFEE served<span class="required"> *</span></label>
            <input type="number" formControlName="beverageCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.beverageCount.errors" class="invalid-feedback">
            <div *ngIf="f.beverageCount.errors.required">Beverages Served is required</div>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of BREAKFASTS served<span class="required"> *</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegBreakfastCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegBreakfastCount" class="textbox" autocomplete="no"
                            min="0" />
                            <div *ngIf="submitted && f.vegBreakfastCount.errors" class="invalid-feedback">
                                <div *ngIf="f.vegBreakfastCount.errors.required">Breakfast Served is required</div>
                            </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegBreakfastCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegBreakfastCount" class="textbox" autocomplete="no"
                            min="0" />
                            <div *ngIf="submitted && f.nonvegBreakfastCount.errors" class="invalid-feedback">
                                <div *ngIf="f.nonvegBreakfastCount.errors.required">Breakfast Served is required</div>
                            </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of SNACKS served<span class="required"> *</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegSnacksCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegSnacksCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegSnacksCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegSnacksCount.errors.required">Snacks Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegSnacksCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegSnacksCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegSnacksCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegSnacksCount.errors.required">Snacks Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of LUNCHES served<span class="required"> *</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegLunchCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegLunchCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegLunchCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegLunchCount.errors.required">Lunch Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegLunchCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegLunchCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegLunchCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegLunchCount.errors.required">Lunch Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of DINNERS served<span class="required"> *</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegDinnerCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegDinnerCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegDinnerCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegDinnerCount.errors.required">Dinner Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegDinnerCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegDinnerCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegDinnerCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegDinnerCount.errors.required">Dinner Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <label class="label" for="giftCount">NUMBER of GIFTS provided<span class="required"> *</span></label>
            <input type="number" formControlName="giftCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.giftCount.errors" class="invalid-feedback">
            <div *ngIf="f.giftCount.errors.required">Number of Gifts provided is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="guestCount">NUMBER of GUESTS invited<span class="required"> *</span></label>
            <input type="number" formControlName="guestCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.guestCount.errors" class="invalid-feedback">
            <div *ngIf="f.guestCount.errors.required">Guests Invited is required</div>
        </div>

        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestTravelMode">Mode of TRAVEL of the GUESTS<span class="required"> *</span></label>
            <select formControlName="guestTravelMode" class="textbox mob">
                <option value="" disabled>Choose a Mode</option>
                <option ngValue="road">Road</option>
                <option ngValue="rail">Rail</option>
                <option ngValue="air">Air</option>
                <option ngValue="none">None</option>
            </select>
        </div>
        <div *ngIf="submitted && f.guestTravelMode.errors" class="invalid-feedback">
            <div *ngIf="f.guestTravelMode.errors.required">Guests Travel Mode is required</div>
        </div>

        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestStayPeriod">NUMBER of DAYS Guest stayed at Hotel<span class="required"> *</span></label>
            <input type="number" formControlName="guestStayPeriod" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.guestStayPeriod.errors" class="invalid-feedback">
            <div *ngIf="f.guestStayPeriod.errors.required">Guest Stay Duration is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="emailCount">NUMBER of EMAIL communication(s) sent<span class="required"> *</span></label>
            <input type="number" formControlName="emailCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.emailCount.errors" class="invalid-feedback">
            <div *ngIf="f.emailCount.errors.required">Number of Emails is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">NUMBER of WHATSAPP/ FACEBOOK communication(s) sent<span class="required"> *</span></label>
            <input type="number" formControlName="socialMediaMessageCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.socialMediaMessageCount.errors" class="invalid-feedback">
            <div *ngIf="f.socialMediaMessageCount.errors.required">Social Media Messages Exchanged is required</div>
        </div>

        <span class="required">* - Mandatory to fill</span>
    </div>

    <button (click)="preview()" class="btn">Preview</button>
    <button (click)="submit()" class="btn">Submit</button>

</form>

<div *ngIf="isPreview" class="backdrop" (click)="isPreview = false"></div>

<div *ngIf="isPreview" class="formPage preview">
    <h3>Preview</h3>
    <div class="inputsContainer">
        <div class="inputField">
            <label class="label" for="clubName">Rotary Club of</label>
            <span type="text" formControlName="clubName" class="previewText" >{{f.clubName.value}}</span>
        </div>
        
        <div class="inputField">
            <label class="label" for="mobileNo">Mobie Number</label>
            <span class="previewText">{{f.mobileNo.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="email">Email</label>
            <span class="previewText" >{{f.email.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="dateOfMeet">DATE of the Meeting/ Event</label>
            <span class="previewText">{{f.dateOfMeet.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="memberCount">NUMBER of MEMBERS Attended Meeting/ Event</label>
            <span class="previewText">{{f.memberCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="fourWCount">NUMBER of 4-WHEELERS commuted</label>
            <span class="previewText">{{f.fourWCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="twoWCount">NUMBER of 2-WHEELERS commuted</label>
            <span class="previewText">{{f.twoWCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="duration">DURATION of the Meeting/ Event</label>
            <span class="previewText">{{f.duration.value}} minutes</span>
        </div>

        <div class="inputField">
            <label class="label" for="lightsCount">NUMBER of LIGHTS at the Meeting/ Event</label>
            <span class="previewText">{{f.lightsCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="fansCount">NUMBER of FANS at the Meeting/ Event</label>
            <span class="previewText">{{f.fansCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="audioCount">NUMBER of PUBLIC AUDIO SYSTEM used</label>
            <span class="previewText">{{f.audioCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="micCount">MICS used</label>
            <span class="previewText">{{f.micCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="projectorCount">NUMBER of OVER HEAD PROJECTORS used</label>
            <span class="previewText">{{f.projectorCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="acCount">NUMBER of AIR-CONDITIONERS used</label>
            <span class="previewText">{{f.acCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="beverageCount">NUMBER of TEA / COFFEE served</label>
            <span class="previewText">{{f.beverageCount.value}}</span>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of BREAKFASTS served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegBreakfastCount">Veg</label>
                        <span class="previewText">{{f.vegBreakfastCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegBreakfastCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegBreakfastCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of SNACKS served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegSnacksCount">Veg</label>
                        <span class="previewText">{{f.vegSnacksCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegSnacksCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegSnacksCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of LUNCHES served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegLunchCount">Veg</label>
                        <span class="previewText">{{f.vegLunchCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegLunchCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegLunchCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            NUMBER of DINNERS served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegDinnerCount">Veg</label>
                        <span class="previewText">{{f.vegDinnerCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegDinnerCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegDinnerCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <label class="label" for="giftCount">NUMBER of GIFTS provided</label>
            <span class="previewText">{{f.giftCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="guestCount">NUMBER of GUESTS invited</label>
            <span class="previewText">{{f.guestCount.value}}</span>
        </div>

        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestTravelMode">Mode of TRAVEL of the GUESTS</label>
            <span formControlName="guestTravelMode" class="previewText">{{f.guestTravelMode.value}}</span>
        </div>

        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestStayPeriod">NUMBER of DAYS Guest stayed at Hotel</label>
            <span class="previewText">{{f.guestStayPeriod.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="emailCount">NUMBER of EMAIL communication(s) sent</label>
            <span class="previewText">{{f.emailCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">NUMBER of WHATSAPP/ FACEBOOK communication(s) sent</label>
            <span class="previewText">{{f.socialMediaMessageCount.value}}</span>
        </div>
    </div>
    <button (click)="isPreview = false" class="btn">Close</button>
</div>