<div class="footer">
    <div>
        <h4>Developed by :</h4>
        <span>
            <span class="name">Rtr. Vedant Ghate</span> <br/>
            <span class="contact">+91 94215 88522 | ghatevedant@gmail.com | <a href="https://linkedin.com/in/ghatevedant">LinkedIn</a></span><br/>
            <span class="club">Rotaract Club of Mid-East</span>
        </span>
        <br/><br/><br/>
        <span>
            <span class="name">Mrs. Arati Bhosale - Ahiwale</span> <br/>
            <span class="contact">+91 96573 69333 | info@greenexenvironmental.com </span><br/>
            <a>Greenex Environmental Sustainability Services </a><br/>
        </span>
    </div>
    <div>
        <h4>Concept by :</h4>
        <span>
            <span class="name">Rtn. Jaideep Malaviya</span> <br/>
            <span class="contact">+91 98900 33399 | j.malaviya@rediffmail.com </span><br/>
            <span class="club">Rotary Club of Pune Camp</span>
        </span>
    </div>
    <div class="logo">
        <img src="assets/logos/themelogo.png"><br/>
        <span class="copy">&copy; Rotary International District 3131</span>
        <p class="disclaimer">No part of this website shall be reproduced without permission of the admin</p>
    </div>
</div>