.main {
    background-color: blanchedalmond;

    img {
        height: 8rem;
        width: 10rem;
        margin: 0.5rem;
        object-fit: contain;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .title {
        font-size: 2rem;
        font-family: Frutiger;
        font-weight: 600;
        line-height: 2.5rem;
        padding: 2rem 0rem 1rem 0rem;
        text-align: center;

        .home{
            margin-top: 2rem;
            font-size: .75rem;
            line-height: normal;
            mat-icon{
                cursor: pointer;
            }
            span{
                cursor: pointer;
            }
        }
    }

    h4{
        text-align: center;
    }

}
