<div class="main">
    <div class="logos">
        <img src="assets/logos/rotary.png">
        <img src="assets/logos/theme.png">
        <img src="assets/logos/rotaract.png">
    </div>

    <div class="title">
        <span>Rotary International Dist. 3131</span><br />
        <span>Meeting/Event Carbon Footprint Calculator</span><br />

        <div class="home">
            <mat-icon (click)="router.navigate(['/home'])">home</mat-icon><br />
            <span (click)="router.navigate(['/home'])">Home</span>
        </div>
    </div>
</div>