<div class="cards">
    <div class="card" (click)="router.navigate(['/online-meet'])">
        Online Meeting
    </div>
    <div class="card" (click)="router.navigate(['/project'])">
        Project Visit
    </div>
    <div class="card" (click)="router.navigate(['/physical-meet'])">
        Physical Meeting
    </div>
    

    <div class="infoSection">
        <div class="quote">Get recognised as a
            ‘Climate Change Warrior’ and help Rotary achieve its sustainability goals!</div>
        <div class="footInfo">
            <img class="foot" src="../../../assets/foot.png">
            <p class="text">A carbon footprint is the total greenhouse gas (GHG) emissions caused by an individual, event,
                organization,
                service, place or product, expressed as carbon dioxide equivalent. Greenhouse gases, including the
                carbon-containing gases carbon dioxide and methane, can be emitted through the burning of fossil fuels,
                land
                clearance and the production and consumption of food, manufactured goods, materials, wood, roads,
                buildings,
                transportation and other services.<br/><br/>

                The Rotary web-application ‘Carbon Footprint Calculator’ (CFC) is perhaps for the first time being
                developed
                in the history of Rotary International. It will indicate the amount of carbon footprint created and
                provide
                opportunity to undertake projects to get them neutralised. The newly added ‘Environment’ focus area will
                strive to
                make our District Carbon-Neutral and role of Clubs and their members is prominent.
            </p>
        </div>
    </div>
</div>