.dialog{
    text-align: center;

    .thanks{
        font-size: 1.5rem;
        color : #009ffD;
        margin: 2rem;
        line-height: initial;
    }

    .icon{
        margin: 1rem;
        height: 3.5rem;
        width: 3.5rem;
        object-fit: contain;
    }

    .copy{
        margin: 1rem;
        font-size: 0.75rem;
        color: black;
    }
}