<form [formGroup]="form" class="formPage">

    <div class="inputsContainer">
        <h2>Online Meet/Event Details</h2>
        <div class="inputField">
            <label class="label" for="clubName">Rotary Club of<span class="required"> *</span></label><br />
            <input type="text" formControlName="clubName" class="textbox" autocomplete="no" />
        </div>
        <div *ngIf="submitted && f.clubName.errors" class="invalid-feedback">
            <div *ngIf="f.clubName.errors.required">Club Name is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="mobileNo">Mobile Number<span class="required"> *</span></label><br />
            <input id="phone" type="tel" formControlName="mobileNo" maxlength="10" class="textbox mob" autocomplete="no"
                placeholder="XXXXXXXXXX" />
        </div>
        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
            <div *ngIf="f.mobileNo.errors.required">Mobile Number is required</div>
            <div *ngIf="f.mobileNo.errors.pattern">Incorrect mobile number</div>
        </div>

        <div class="inputField">
            <label class="label" for="email">Email<span class="required"> *</span></label><br />
            <input type="text" formControlName="email" class="textbox" autocomplete="no" />
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email ID is required</div>
            <div *ngIf="f.email.errors.pattern">Invalid Email ID</div>
        </div>

        <div class="inputField">
            <label class="label" for="dateOfMeet">Date of the Meeting/Event<span class="required">
                    *</span></label><br />
            <input type="date" formControlName="dateOfMeet" class="textbox mob" autocomplete="no"
                max="{{todaysdate|date:'yyyy-MM-dd'}}" />
        </div>
        <div *ngIf="submitted && f.dateOfMeet.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfMeet.errors.required">Date is required</div>
        </div>


        <div class="inputField">
            <label class="label" for="memberCount">Number of Members Attended the Meeting/Event<span class="required">
                    *</span></label><br />
            <input type="number" formControlName="memberCount" class="textbox" autocomplete="no" min="1" />
        </div>
        <div *ngIf="submitted && f.memberCount.errors" class="invalid-feedback">
            <div *ngIf="f.memberCount.errors.required">Member Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="duration">Duration of the Meeting/Event<span class="required">
                    *</span></label><br />
            <input type="number" formControlName="duration" placeholder=" in minutes" class="textbox" autocomplete="no"
                min="0" />
        </div>
        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
            <div *ngIf="f.duration.errors.required">Duration is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="emailCount">Number of Email Communication(s) sent<span class="required"> *</span></label><br />
            <input type="number" formControlName="emailCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.emailCount.errors" class="invalid-feedback">
            <div *ngIf="f.emailCount.errors.required">Number of Emails is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">Number of WhatsApp/Facebook Communication(s)
                sent<span class="required"> *</span></label><br />
            <input type="number" formControlName="socialMediaMessageCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.socialMediaMessageCount.errors" class="invalid-feedback">
            <div *ngIf="f.socialMediaMessageCount.errors.required">Number of Social Messages is required</div>
        </div>

        <span class="required">* - Mandatory to fill</span>
    </div>

    <button (click)="preview()" class="btn amber">Preview</button>
    <button (click)="submit()" class="btn green">Submit</button>

</form>

<div *ngIf="isPreview" class="backdrop" (click)="isPreview = false"></div>

<div *ngIf="isPreview" class="formPage preview">
    <h3>Preview</h3>
    <div class="inputsContainer">
        <div class="inputField">
            <label class="label">Rotary Club of</label>
            <span type="text" class="previewText" >{{f.clubName.value}}</span>
        </div>

        <div class="inputField">
            <label class="label">Mobile Number</label>
            <span id="phone" class="previewText">{{f.mobileNo.value}}</span>
        </div>

        <div class="inputField">
            <label class="label">Email</label>
            <span class="previewText">{{f.email.value}}</span>
        </div>

        <div class="inputField">
            <label class="label">Date of the Meeting/ Event</label>
            <span type="date" class="previewText">{{f.dateOfMeet.value}}</span>
        </div>

        <div class="inputField">
            <label class="label">Number of Members Attended the Meeting/ Event</label>
            <span type="number" class="previewText">{{f.memberCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label">Duration of the Meeting/ Event</label>
            <span type="number" class="previewText">{{f.duration.value}} minutes</span>
        </div>

        <div class="inputField">
            <label class="label">Number of Email Communication(s) sent</label>
            <span type="number" class="previewText">{{f.emailCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">Number of WhatsApp/Facebook Communication(s)
                sent</label>
            <span type="number" class="previewText">{{f.socialMediaMessageCount.value}}</span>
        </div>

    </div>
    <button (click)="isPreview = false" class="btn">Close</button>
</div>