<form [formGroup]="form" (ngSubmit)="submit()" class="formPage">

    <div class="inputsContainer">
        <div class="inputField">
            <label class="label" for="clubName">Club Name</label><br />
            <input type="text" formControlName="clubName" class="textbox" autocomplete="no" />
            <div *ngIf="submitted && f.clubName.errors" class="invalid-feedback">
                <div *ngIf="f.clubName.errors.required">Club Name is required</div>
            </div>
        </div>

        <div class="inputField">
            <label class="label" for="mobileNo">Mobie Number</label><br />
            <input id="phone" type="tel" formControlName="mobileNo" maxlength="10" class="textbox mob" autocomplete="no" placeholder="+91XXXXXXXXXX"/>
            <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNo.errors.required">Mobie Number is required</div>
                <div *ngIf="f.mobileNo.errors.pattern">Incorrect mobile number</div>
            </div>
        </div>

        <div class="inputField">
            <label class="label" for="memberCount">Member Count</label><br />
            <input type="number" formControlName="memberCount" class="textbox" autocomplete="no" min="1"/>
            <div *ngIf="submitted && f.memberCount.errors" class="invalid-feedback">
                <div *ngIf="f.memberCount.errors.required">Member Count is required</div>
            </div>
        </div>

        <div class="inputField">
            <label class="label" for="duration">Duration(in hours)</label><br />
            <input type="number" formControlName="duration" class="textbox" autocomplete="no" min="0"/>
            <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                <div *ngIf="f.duration.errors.required">Duration is required</div>
            </div>
        </div>

        <div class="inputField">
            <label class="label" for="emailCount">Emails Exchanged</label><br />
            <input type="number" formControlName="emailCount" class="textbox" autocomplete="no" min="0"/>
            <div *ngIf="submitted && f.emailCount.errors" class="invalid-feedback">
                <div *ngIf="f.emailCount.errors.required">Guests Invited is required</div>
            </div>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">Social Media Messages Exchanged</label><br />
            <input type="number" formControlName="socialMediaMessageCount" class="textbox" autocomplete="no" min="0"/>
            <div *ngIf="submitted && f.socialMediaMessageCount.errors" class="invalid-feedback">
                <div *ngIf="f.socialMediaMessageCount.errors.required">Social Media Messages Exchanged is required</div>
            </div>
        </div>

        <div class="inputField">
            <label class="label" for="dateOfMeet">Date of Meet/Event</label><br />
            <input type="date" formControlName="dateOfMeet" class="textbox mob" autocomplete="no" max="{{todaysdate|date:'yyyy-MM-dd'}}"/>
            <div *ngIf="submitted && f.dateOfMeet.errors" class="invalid-feedback">
                <div *ngIf="f.dateOfMeet.errors.required">Date is required</div>
            </div>
        </div>

    </div>

    <button class="btn">Submit</button>

</form>