<form [formGroup]="form" class="formPage">

    <div class="inputsContainer">
        <h2>Project Visit</h2>

        <div class="inputField">
            <label class="label" for="clubtype">Club type</label>
            <select class="textbox" id="clubtype" [(ngModel)]="clubtype" [ngModelOptions]="{standalone: true}" required>
              <option value="Rotary">Rotary</option>
              <option value="Rotaract">Rotaract</option>
            </select>
        </div>

        <div class="inputField">
            <label class="label" for="clubName">{{clubtype}} Club of<span class="required"> *</span></label><br />
            <input type="text" formControlName="clubName" class="textbox" autocomplete="no" />
        </div>
        <div *ngIf="submitted && f.clubName.errors" class="invalid-feedback">
            <div *ngIf="f.clubName.errors.required">Club Name is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="mobileNo">Mobile Number<span class="required"> *</span></label>
            <input name="phone" id="phone" type="tel" formControlName="mobileNo" maxlength="10" class="textbox mob"
                autocomplete="no" placeholder="XXXXXXXXXX" />
        </div>
        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
            <div *ngIf="f.mobileNo.errors.required">Mobile Number is required</div>
            <div *ngIf="f.mobileNo.errors.pattern">Incorrect mobile number</div>
        </div>

        <div class="inputField">
            <label class="label" for="email">Email<span class="required"> *</span></label>
            <input type="text" formControlName="email" class="textbox" autocomplete="no" />
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email ID is required</div>
            <div *ngIf="f.email.errors.pattern">Invalid Email ID</div>
        </div>

        <div class="inputField">
            <label class="label" for="dateOfMeet">Date of the Meeting/Event<span class="required"> *</span></label>
            <input type="date" formControlName="dateOfMeet" class="textbox mob" autocomplete="no"
                max="{{todaysdate|date:'dd-MM-yyyy'}}" />
        </div>
        <div *ngIf="submitted && f.dateOfMeet.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfMeet.errors.required">Date is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="memberCount">Number of Members(Rotarians and Rotaractors) Attended Meeting/Event<span class="required">
                    *</span></label>
            <input type="number" formControlName="memberCount" class="textbox" autocomplete="no" min="1" />
        </div>
        <div *ngIf="submitted && f.memberCount.errors" class="invalid-feedback">
            <div *ngIf="f.memberCount.errors.required">Member Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="guestCount">Number of Guest(s) invited<span class="required"> *</span></label>
            <input type="number" formControlName="guestCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.guestCount.errors" class="invalid-feedback">
            <div *ngIf="f.guestCount.errors.required">Guests Invited is required</div>
        </div>
<!-- 
        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestTravelMode">Mode of Travel of the Guest(s)<span class="required">
                    *</span></label>
            <select formControlName="guestTravelMode" class="textbox mob">
                <option value="" disabled>Choose a Mode</option>
                <option ngValue="road">Road</option>
                <option ngValue="rail">Rail</option>
                <option ngValue="air">Air</option>
                <option ngValue="none">None</option>
            </select>
        </div>
        <div *ngIf="submitted && f.guestTravelMode.errors" class="invalid-feedback">
            <div *ngIf="f.guestTravelMode.errors.required">Guests Travel Mode is required</div>
        </div> -->

        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestStayPeriod">Number of Day(s) Guest stayed at Hotel<span class="required">
                    *</span></label>
            <input type="number" formControlName="guestStayPeriod" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.guestStayPeriod.errors" class="invalid-feedback">
            <div *ngIf="f.guestStayPeriod.errors.required">Guest Stay Duration is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="fourWCount">Number of 4-Wheelers commuted<span class="required"> *</span></label>
            <input type="number" formControlName="fourWCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.fourWCount.errors" class="invalid-feedback">
            <div *ngIf="f.fourWCount.errors.required">Four Wheelers' Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="twoWCount">Number of 2-Wheelers commuted<span class="required"> *</span></label>
            <input type="number" formControlName="twoWCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.twoWCount.errors" class="invalid-feedback">
            <div *ngIf="f.twoWCount.errors.required">Two Wheelers' Count is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="distToProject">Distance travelled to Project Site<span class="required"> *</span></label>
            <input type="number" formControlName="distToProject" placeholder=" in KMs" class="textbox" autocomplete="no"
                min="0" />
        </div>
        <div *ngIf="submitted && f.distToProject.errors" class="invalid-feedback">
            <div *ngIf="f.distToProject.errors.required">Duration is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="duration">Duration of the Meeting/Event<span class="required"> *</span></label>
            <input type="number" formControlName="duration" placeholder=" in minutes" class="textbox" autocomplete="no"
                min="0" />
        </div>
        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
            <div *ngIf="f.duration.errors.required">Duration is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="lightsCount">Number of Light(s) at the Meeting/Event<span class="required">
                    *</span></label>
            <input type="number" formControlName="lightsCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.lightsCount.errors" class="invalid-feedback">
            <div *ngIf="f.lightsCount.errors.required">Number of Lights Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="fansCount">Number of Fan(s) at the Meeting/Event<span class="required">
                    *</span></label>
            <input type="number" formControlName="fansCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.fansCount.errors" class="invalid-feedback">
            <div *ngIf="f.fansCount.errors.required">Number of Fans Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="audioCount">Number of Public Audio System(s) used<span class="required">
                    *</span></label>
            <input type="number" formControlName="audioCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.audioCount.errors" class="invalid-feedback">
            <div *ngIf="f.audioCount.errors.required">Audio Systems Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="micCount">Mic(s) used<span class="required"> *</span></label>
            <input type="number" formControlName="micCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.micCount.errors" class="invalid-feedback">
            <div *ngIf="f.micCount.errors.required">Mics Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="projectorCount">Number of Over Head Projector(s) used<span class="required">
                    *</span></label>
            <input type="number" formControlName="projectorCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.projectorCount.errors" class="invalid-feedback">
            <div *ngIf="f.projectorCount.errors.required">Projectors Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="acCount">Number of Air-Conditioner(s) used<span class="required"> *</span></label>
            <input type="number" formControlName="acCount" class="textbox" autocomplete="no" min="0" />

        </div>
        <div *ngIf="submitted && f.acCount.errors" class="invalid-feedback">
            <div *ngIf="f.acCount.errors.required">AC Systems Used is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="beverageCount">Number of Tea/Coffee served<span class="required">
                    *</span></label>
            <input type="number" formControlName="beverageCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.beverageCount.errors" class="invalid-feedback">
            <div *ngIf="f.beverageCount.errors.required">Beverages Served is required</div>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Fellowship Served<span class="required"> *</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField checkboxAccordion">
                        <div class="checkboxes">
                            <span><input type="radio" value="true" formControlName="fellowshipServed"> Yes</span>
                            <span><input type="radio" value="false" formControlName="fellowshipServed"> No</span>
                        </div>
                        <div *ngIf="submitted && f.fellowshipServed.value == ''" class="invalid-feedback">
                            <div>Fellowship info is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField" *ngIf="f.fellowshipServed.value == 'true'">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Fellowship details<span class="required"> *</span>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="submitted && !checkFellowship()">
                            Fellowship type is required
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="inputField checkboxAccordion">
                        <div>
                            Please select the type(s) of Fellowship provided during the event/meet
                        </div>
                        <div class="checkboxes">
                            <mat-checkbox [checked]="isBreakfast"
                                (change)="setBreakfastValidations(); setCutleryValidations()"> Breakfast
                            </mat-checkbox>
                            <mat-checkbox [checked]="isSnack"
                                (change)="setSnacksValidations(); setCutleryValidations()"> Snacks
                            </mat-checkbox>
                            <mat-checkbox [checked]="isLunch" (change)="setLunchValidations(); setCutleryValidations()">
                                Lunch
                            </mat-checkbox>
                            <mat-checkbox [checked]="isDinner"
                                (change)="setDinnerValidations(); setCutleryValidations()"> Dinner
                            </mat-checkbox>
                        </div>
                    </div>
                    <div *ngIf="submitted && !checkFellowship()" class="invalid-feedback">
                        <div>Fellowship type is required</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField" *ngIf="isBreakfast">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Breakfast(s) served<span class="required"> *</span>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="submitted && ((f.vegBreakfastCount.errors && f.vegBreakfastCount.errors.required) || (f.nonvegBreakfastCount.errors && f.nonvegBreakfastCount.errors.required))">
                            Breakfast Served is required
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegBreakfastCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegBreakfastCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegBreakfastCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegBreakfastCount.errors.required">Breakfast Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegBreakfastCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegBreakfastCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegBreakfastCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegBreakfastCount.errors.required">Breakfast Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField" *ngIf="isSnack">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Snack(s) served<span class="required"> *</span>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="submitted && ((f.vegSnacksCount.errors && f.vegSnacksCount.errors.required) || (f.nonvegSnacksCount.errors && f.nonvegSnacksCount.errors.required))">
                            Snacks Served is required
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegSnacksCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegSnacksCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegSnacksCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegSnacksCount.errors.required">Snacks Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegSnacksCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegSnacksCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegSnacksCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegSnacksCount.errors.required">Snacks Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField" *ngIf="isLunch">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Lunch(s) served<span class="required"> *</span>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="submitted && ((f.vegLunchCount.errors && f.vegLunchCount.errors.required) || (f.nonvegLunchCount.errors && f.nonvegLunchCount.errors.required))">
                            Lunch Served is required
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegLunchCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegLunchCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegLunchCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegLunchCount.errors.required">Lunch Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegLunchCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegLunchCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegLunchCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegLunchCount.errors.required">Lunch Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField" *ngIf="isDinner">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Dinner(s) served<span class="required"> *</span>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="submitted && ((f.vegDinnerCount.errors && f.vegDinnerCount.errors.required) || (f.nonvegDinnerCount.errors && f.nonvegDinnerCount.errors.required))">
                            Dinner Served is required
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegDinnerCount">Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="vegDinnerCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.vegDinnerCount.errors" class="invalid-feedback">
                            <div *ngIf="f.vegDinnerCount.errors.required">Dinner Served is required</div>
                        </div>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegDinnerCount">Non-Veg<span class="required"> *</span></label>
                        <input type="number" formControlName="nonvegDinnerCount" class="textbox" autocomplete="no"
                            min="0" />
                        <div *ngIf="submitted && f.nonvegDinnerCount.errors" class="invalid-feedback">
                            <div *ngIf="f.nonvegDinnerCount.errors.required">Dinner Served is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField" *ngIf="f.fellowshipServed.value == 'true'">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Crockery used<span class="required"> *</span>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="submitted && f.cutleryType.errors && f.cutleryType.errors.required">
                            Crockery type is required
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="inputField checkboxAccordion">
                        <mat-radio-group formControlName="cutleryType" class="checkboxes">
                            <mat-radio-button value="Disposable"> Disposable</mat-radio-button>
                            <mat-radio-button value="Reusable"> Reusable</mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && f.cutleryType.errors" class="invalid-feedback">
                            <div *ngIf="f.cutleryType.errors.required">Crockery type is required</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>


        <div class="inputField">
            <label class="label" for="giftCount">Number of Gift(s) provided<span class="required"> *</span></label>
            <input type="number" formControlName="giftCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.giftCount.errors" class="invalid-feedback">
            <div *ngIf="f.giftCount.errors.required">Number of Gifts provided is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="emailCount">Number of Email communication(s) sent<span class="required">
                    *</span></label>
            <input type="number" formControlName="emailCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.emailCount.errors" class="invalid-feedback">
            <div *ngIf="f.emailCount.errors.required">Number of Emails is required</div>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">Number of WhatsApp/Facebook communication(s) sent<span
                    class="required"> *</span></label>
            <input type="number" formControlName="socialMediaMessageCount" class="textbox" autocomplete="no" min="0" />
        </div>
        <div *ngIf="submitted && f.socialMediaMessageCount.errors" class="invalid-feedback">
            <div *ngIf="f.socialMediaMessageCount.errors.required">Social Media Messages Exchanged is required</div>
        </div>

        <span class="required">* - Mandatory to fill</span>
    </div>

    <button (click)="preview()" class="btn amber">Preview</button>
    <button (click)="submit()" class="btn green">Submit</button>

</form>

<div *ngIf="showCloud" class="backdrop"></div>
<div *ngIf="showCloud" class="cloud" [ngClass]="{'scaleup': expandCloud, 'scaledown' : contractCloud}">
    <img src="../../../../../assets/clouds/high.png">
    <div class="cloudText">The carbon footprint was 
        <span class="value">{{cfcValue}} Kg</span>
    </div>
</div>

<div *ngIf="isPreview" class="backdrop" (click)="isPreview = false"></div>

<div *ngIf="isPreview" class="formPage preview">
    <h3>Preview</h3>
    <div class="inputsContainer">
        <div class="inputField">
            <label class="label" for="clubName">{{clubtype}} Club of</label>
            <span type="text" formControlName="clubName" class="previewText">{{f.clubName.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="mobileNo">Mobile Number</label>
            <span class="previewText">{{f.mobileNo.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="email">Email</label>
            <span class="previewText">{{f.email.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="dateOfMeet">Date of the Meeting/Event</label>
            <span class="previewText">{{f.dateOfMeet.value |date:'dd-MM-yyyy'}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="memberCount">Number of Members(Rotarians and Rotaractors) Attended Meeting/Event</label>
            <span class="previewText">{{f.memberCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="guestCount">Number of Guest(s) invited</label>
            <span class="previewText">{{f.guestCount.value}}</span>
        </div>
<!-- 
        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestTravelMode">Mode of Travel of the Guest(s)</label>
            <span formControlName="guestTravelMode" class="previewText">{{f.guestTravelMode.value}}</span>
        </div> -->

        <div class="inputField" *ngIf="f.guestCount.value > 0">
            <label class="label" for="guestStayPeriod">Number of Day(s) Guest stayed at Hotel</label>
            <span class="previewText">{{f.guestStayPeriod.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="fourWCount">Number of 4-Wheeler(s) commuted</label>
            <span class="previewText">{{f.fourWCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="twoWCount">Number of 2-Wheeler(s) commuted</label>
            <span class="previewText">{{f.twoWCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="distToProject">Distance travelled to Project Site</label>
            <span class="previewText">{{f.distToProject.value}} km</span>
        </div>

        <div class="inputField">
            <label class="label" for="duration">Duration of the Meeting/Event</label>
            <span class="previewText">{{f.duration.value}} minutes</span>
        </div>

        <div class="inputField">
            <label class="label" for="lightsCount">Number of Light(s) at the Meeting/Event</label>
            <span class="previewText">{{f.lightsCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="fansCount">Number of Fan(s) at the Meeting/Event</label>
            <span class="previewText">{{f.fansCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="audioCount">Number of Public Audio System(s) used</label>
            <span class="previewText">{{f.audioCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="micCount">Mics used</label>
            <span class="previewText">{{f.micCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="projectorCount">Number of Over Head Projectors used</label>
            <span class="previewText">{{f.projectorCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="acCount">Number of Air-Conditioner(s) used</label>
            <span class="previewText">{{f.acCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="beverageCount">Number of Tea/Coffee served</label>
            <span class="previewText">{{f.beverageCount.value}}</span>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Breakfast(s) served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegBreakfastCount">Veg</label>
                        <span class="previewText">{{f.vegBreakfastCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegBreakfastCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegBreakfastCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Snack(s) served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegSnacksCount">Veg</label>
                        <span class="previewText">{{f.vegSnacksCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegSnacksCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegSnacksCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Lunch(s) served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegLunchCount">Veg</label>
                        <span class="previewText">{{f.vegLunchCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegLunchCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegLunchCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Number of Dinner(s) served
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="inputField">
                        <label class="label" for="vegDinnerCount">Veg</label>
                        <span class="previewText">{{f.vegDinnerCount.value}}</span>
                    </div>

                    <div class="inputField">
                        <label class="label" for="nonvegDinnerCount">Non-Veg</label>
                        <span class="previewText">{{f.nonvegDinnerCount.value}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="inputField">
            <label class="label" for="giftCount">Number of Gift(s) provided</label>
            <span class="previewText">{{f.giftCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="emailCount">Number of Email communication(s) sent</label>
            <span class="previewText">{{f.emailCount.value}}</span>
        </div>

        <div class="inputField">
            <label class="label" for="socialMediaMessageCount">Number of WhatsApp/Facebook communication(s)
                sent</label>
            <span class="previewText">{{f.socialMediaMessageCount.value}}</span>
        </div>
    </div>
    <button (click)="isPreview = false" class="btn">Close</button>
</div>